<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title>Slide Stack</title>
    <meta name="google-site-verification" content="RbufHLzs8WPkM0f9-v0C49y-TdXm7bSI2M9fEJWWXro" />
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="stylesheet" href="/font-awesome/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.2.1/lodash.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/marked/lib/marked.js"></script>
    <script src="/angular-marked/dist/angular-marked.min.js"></script>
    <script src="/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script src="/main.js"></script>
</head>
<body ng-app="FullstackGeneratedApp" ng-controller="navbarCntrl">
    <navbar ng-if="!isState()"></navbar>
    <div id="main" ui-view></div>
</body>
</html>
