h3 {
  text-align: center;
  color: blue;
}

#addUser {
  margin: 0 auto;
}

.panel {
  width: 750px;
  margin: auto;
}

.panel-primary {
  border-color: $button-color;
  width: 100%;
}

.panel-primary .panel-heading {
  border-color: $button-color;
  background-color: $button-color;
}

.panel-heading {
  background-color: $button-color;
  border-color: $button-color;
  text-align: center;
}

.modal-content {
  padding: 20px;
}

#admin {
  text-align: left;
}

table {
  margin: auto;
  td {
    text-align: center;
    font-family: $serif-font;
  }
  th {
    text-align: center;
  }
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 250px;
}

#sidebar-wrapper {
  font-family: $serif-font;
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-y: auto;
  background: $background;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  color: black;
  font-size: 16px;
  cursor: pointer;
  transition: color 0.2s;
  &:hover {
    background: none;
    text-decoration: none;
    color: #f31214;
  }
  &:focus {
    background: none;
  }
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
  color: darken(#f31214, 10%);
}

@media(min-width: 768px) {
  #wrapper {
    padding-left: 250px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 200px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
