@import 'simple';
@import 'black';

// General stuff for all themes
.slideshow-container {

    font-size: 36px;
    padding: 0 2em;

    h1 {
        font-size: 3em;
        margin: 0.3em 0 0.2em 0;
    }
    h2 {
        font-size: 1.8em;
        margin: 0.2em 0 0.2em 0;
    }
    h3 {
        font-size: 1.2em;
        margin: 0.6em 0 0.4em 0;

        // overwriting other styles that made h3's blue and center
        color: inherit;
        text-align: left;
    }
    p {
        font-size: 1em;
        margin: 1em 0 0 0;
    }
    button {
        font-size: 0.5em;
    }
}
