@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

.simple {
  font-family: "Lato", sans-serif;
  // font-size: 36px;
  font-weight: normal;
  color: #000;
}
