@import url(https://fonts.googleapis.com/css?family=Lustria);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);

$serif-font: "Lustria", serif;
$sans-serif-font: "Lato", sans-serif;

.simple {
	&.slideshow-container {
		background-color: #fff;
		@for $i from 1 through 6 {
			h#{$i} {
				font-family: $serif-font;
			}
		}
		p {
			font-family: $sans-serif-font;
		}

	}
}
