<nav >
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <div ng-show="user" class="welcome">
            <span>Welcome, {{ user.email }}!</span>
            <a ng-click="logout()">Logout</a>
            <!-- Dropdown for profile actions -->
            <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button id="btn-append-to-body" type="button" uib-dropdown-toggle>
                    PERSON <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                    <li
                        role="menuitem"
                        ng-repeat="lib in libraries"
                        ng-click="lib.checked = !lib.checked">
                        <a href="#">{{lib.name}}</a>
                    </li>

                    <li class="divider"></li>
                    <li role="menuitem">
                        <input
                            type="text"
                            class="form-control"
                            ng-model="newLib.url"
                            ng-click="$event.stopPropagation()"
                            placeholder="Enter a CDN link">
                        <a href="#" ng-click="addLibrary(newLib)">Add</a>
                    </li>
                </ul>
            </div>
        </div>


    </div>
</nav>
