<nav>
    <div class="container">
        <div class="navbar-header">
            <slidestack-logo></slidestack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li ng-repeat="item in items" ng-show="!item.auth || isLoggedIn()">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
            <li ng-show="user && user.isAdmin">
                <a ui-sref-active="active" ui-sref="admin"></a>
            </li>
        </ul>
        <div ng-show="user" class="welcome">
            <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
            <button ng-show="user" ng-click="logout()" class="btn logout-button">Logout</button>
        </div>

    </div>
</nav>
