.homeDiv {
    display: flex;
    height: 100%;
    width: 100;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img {
        margin-left: 21px;
    }
    button {
        font-size: 24px;
    }
}
