<div
    class="code-editor"
    ng-show="selected"
    ng-click="doSomething()"
    dont-move-slides>
</div>
<div class="buttons" ng-if="consolePresent">
        <button
        ng-show="display.mode==='student' && selected && !sharing"
        ng-click="toggleEdit()">
        <span ng-show="!editCode">EDIT</span>
        <span ng-show="editCode">CANCEL</span>
    </button>
    <button
    ng-show="display.mode==='student' && sharing">
    SHARING CODE!
    </button>
    <button ng-click="runCode(code.text)">RUN CODE</button>
    <button ng-click="runCode()">CLEAR CONSOLE</button>
</div>
