#studentList {
  width: 100%;

  button {
    float: right;
  }
  .p {
    text-align: left;
  }
  .panel {
    width: 100%;
    margin: 0 auto;
    //float: right;
  }
}

#teacherTimer {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h1, h4 {
        margin: 0;
        font-family: 'Helvetica Neue';
        font-weight: 300;
    }
}

.slide-container {
  .noteDiv {
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 50px;
    margin: 300px 100px 0px 0px;
    font-size: 24px;
  }
}

.teacher-tools {
    display: flex;
    flex-direction: column;
    @media screen and (max-width: 700px) {
        flex-direction: row;
    }
}
