#studentList {
  padding: 20px 20px;

  button {
    float: right;
  }
  .p {
    text-align: left;
  }
  .panel {
    width: 50%;
    margin: auto;
    //float: right;
  }
}

#teacherTimer {
  padding: 10px;
  margin: 30px 100px 10px 150px;
}

.slide-container {
  .noteDiv {
    position: absolute;
    padding: 50px;
    border: solid 1px gray;
    margin: 300px 100px 0px 0px;
  }
}
