<!-- <div class="well">
    <div ng-repeat="class in user.classes" class="col-md-4 panel panel-default">
        <img ng-src="{{ class.imageUrl }}" class="panel-picture">
        <h4>{{ class.name }}</h4>
        <p>{{ class.description }}</p>

        <button class="class-btn" > View Presentations </button>
        <button class="class-btn"> View Students </button>
    </div>
</div> -->
<div>
  <script type="text/ng-template" id="group-template.html">
      <div class="panel {{panelClass || 'panel-default'}}">
        <div class="panel-heading">
          <h4 class="panel-title" style="color:#fa39c3">
            <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading"><span
              ng-class="{'text-muted': isDisabled}">{{heading}}</span></a>
          </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
          <div class="panel-body" style="text-align: right" ng-transclude></div>
        </div>
      </div>
  </script>
    <uib-accordion close-others="true">
      <uib-accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen">
        This content is straight in the template.
      </uib-accordion-group>
      <uib-accordion-group heading="{{group.title}}" ng-repeat="group in groups">
        {{group.content}}
      </uib-accordion-group>
    </uib-accordion>
</div>
