<div class="profileClass">
    <div
        ng-click="newPresMenu = !newPresMenu"
        ng-show="teacher._id === loggedInUser._id"
        id="new-presentation-button">
        <span class="text">Create A Presentation</span>
        <span class="glyphicon glyphicon-plus-sign"></span>
    </div>
    <div ng-show="newPresMenu" class="new-pres">
        <form ng-submit="createPresentation(newPres)">
            <div class="form-group">
                <label>Title</label>
                <input
                        type="text"
                        ng-model="newPres.name"
                        class="form-control">
            </div>
            <button type="submit" class="btn">Create</button>
        </form>
    </div>

    <div class="well pres-list">
        <div ng-repeat="presentation in presentations" class="pres-item">
            <div class="pres-list-info">
                <h4>{{ presentation.name }}</h4>
            </div>
            <div class="pres-list-buttons">
                <button class="btn" ui-sref="viewPres({ id: presentation._id })">
                    View
                </button>
                <span ng-show="loggedInUser._id === presentation.owner">
                    <button class="btn" ui-sref="teacherPres({ id: presentation._id })">
                        Present
                    </button>
                    <button class="btn" ui-sref="editPres({ id: presentation._id })">
                        Edit
                    </button>
                    <button class="btn" ng-click="delete(presentation)">
                        Delete
                    </button>
                </span>
            </div>
        </div>
    </div>

</div>
