<!DOCTYPE html>
<html lang="en">
<head>
    <title>Teacher View</title>
</head>
<body>

<div class="container-fluid">
  <question-sidebar></question-sidebar>
    <div class="row">
        <div class="col-md-9">
            <div id="teacher-presentation">
              <div class="slideshow-container" ratio="1.77" relative-sizes>
                <ss-slideshow display="{fullscreen: false, mode: 'teacher'}">
                    <ss-slide
                        ng-repeat="slide in slides"
                        markdown="{{slide}}">
                    </ss-slide>
                </ss-slideshow>
              </div>
            </div>
        </div>
        <div class="col-md-3">

            <button ng-click="goToEdit()">Edit</button>
            <div class="teacher-tools">
                <teacher-timer></teacher-timer>
                <div>
                    <!-- <textarea id='questionBox' rows="10" cols="50" class="form-control">{{currentQuestion}}</textarea> -->
                    <progress-bar confusion="confusion"></progress-bar>
                </div>
                <ss-student-list></ss-student-list>
            </div>
        </div>
    </div>
</div>
</body>
</html>
