editor {
    .code-editor {
        font-size: 0.5em;
        width: 56em;
        height: 16em;
    //     margin-left: 20px;
        .ace_gutter-layer, .ace_content {
            // font-size: 0.5em;
            // font-family: 'Courier New', Courier, monospace;
        }
        &:last-child {
            // font-size: 20px;
        }
        p {
            // font-family: 'Courier New';
        }
    }
    // .buttons {
    //     margin-left: 20px;
    // }
}
