fiddle {
    .fiddle-container {

        padding: 20px;
        width: 100%;
        height: 100%;
        iframe {
            background-color: white;
            width: 90%;
            height: 90%;
            margin-left: 20px;
        }

        .fiddle-tabs {
            margin-left: 20px;
        }

        .code-editor {
            width: 90%;
            height: 90%;
        }
    }
}
