fiddle {
    .fiddle-container {
//
        // padding: 20px;
        width: 28em;
        height: 14em;
        // height: 12em;
        iframe {
            height: 13em;
            width: 28em;
        }
//
        .fiddle-controls {
            // margin-left: 20px;
            display: flex;
            justify-content: space-between;
        }
//
        .code-editor {
            height: 26em;
        }
    }
}
