fiddle {
    .fiddle-container {
//
        // padding: 20px;
        width: 28em;
        height: 14em;
        // height: 12em;
        iframe {
            height: 13em;
            width: 28em;
        }
//
        .fiddle-controls {
            // margin-left: 20px;
            display: flex;
            justify-content: space-between;

            .fiddle-tabs {
                button {
                    margin: 0 2px 0 0;
                    &:focus {
                        outline: none;
                    }
                    &.active {
                        border-bottom: solid 0.2em $orange;
                        background-color: lighten($button-color, 16)
                    }
                }
            }
        }
//
        .code-editor {
            height: 26em;
        }
    }
}
