<!--Fullscreen Student VIEW -->

<div id="presentation-view" class="fullscreen">
    <div class="slideshow-container" ratio="1.77">
        <ss-slideshow display="{ fullscreen: true, mode: 'student' }">
            <ss-slide
                ng-repeat="slide in slides track by $index"
                markdown="{{slide}}">
            </ss-slide>
        </ss-slideshow>
    </div>
</div>
<div style="z-index:2; position:absolute;">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Have a Question?</h3>
        </div>
        <div class="modal-body">
 			<textarea placeholder="Type your question here" ng-model="question"></textarea>
        </div>
        <div class="modal-footer">
            <label>Ask Anonymously</label>
            <input type="checkbox" ng-model="anonymous">
            <button class="btn btn-primary" type="button"
                    ng-click="submitQuestion(question, anonymous)">Submit Question</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
            <pre>{{anonymous}}</pre>
        </div>
    </script>

    <button type="button" class="btn btn-default" ng-click="open('sm')">Have a Question?</button>

    <div class="toggle-button" ng-class="{'toggle-button-selected': user.confused }">
       <button ng-click="toggleConfusion()"></button>
   	</div>

</div>
