<h1> {{ className }} </h1>
<div class="panel">
    <ul class="nav nav-tabs">
        <li role="presentations" ng-click="presOpen()" ui-sref-active="active"><a>Presentations</a></li>
        <li role="students" ng-click="studOpen()" ui-sref-active="active"><a>Students</a></li>
    </ul>
    <div class="well">
        <div ng-show="isPresOpen" ng-repeat="presentation in presentations">
            <h4>{{ presentation.name }}</h4>
            <button class="btn" ui-sref="viewPres({ id: presentation._id })">
                View
            </button>
            <button class="btn" ui-sref="teacherPres({ id: presentation._id })">
                Present
            </button>
            <button class="btn" ui-sref="editPres({ id: presentation._id })">
                Edit
            </button>
        </div>
        <div ng-show="isStudOpen" >
          <div ng-repeat="student in students">
              <h4>{{ student.name }}</h4>
              <button class="btn" ng-click="deleteStudent(student._id)">Remove</button>
          </div>
          <form ng-submit="findByName(searchQuery)">
            <input type="text" ng-model="searchQuery.name" class="form-control">
            <button type="submit" class="btn">Search</button>
          </form>
          <div ng-repeat="user in foundUsers">
            <p> {{user.name}} </p>
            <p> {{user.email}} </p>
            <button class="btn" ng-click="addToClass(user._id)">Add To Class</button>
          </div>
        </div>
    </div>

</div>
