<div class="profileClass">
    <div
        ng-click="newClassMenu = !newClassMenu"
        id="new-class-button">
        <span class="text">Create A Class</span>
        <span class="glyphicon glyphicon-plus-sign"></span>
    </div>
    <div ng-show="newClassMenu" class="new-class">
        <form ng-submit="createClass(newClass)">
            <div class="form-group">
                <label>Name</label>
                <input
                    type="text"
                    ng-model="newClass.name"
                    class="form-control">
            </div>
            <div class="form-group">
                <label>Description</label><br>
                <textarea
                    ng-model="newClass.description"
                    class="form-control">
                </textarea>
            </div>
            <button type="submit" class="btn">Create</button>
        </form>
    </div>

    <div>
        <div ng-repeat="class in classes" ui-sref="class({id: class._id})">
            <li class="classList">
                <h3>{{class.name}}</h3>
                <p>{{class.description}}</p>
            </li>
        </div>
    </div>
</div>


<!--<div>-->
    <!--<uib-accordion id="a1">-->
        <!--<uib-accordion-group ng-repeat="class in classes" heading="{{class.name}}">-->
            <!--<uib-accordion>-->

                <!--<uib-accordion-group heading="Students">-->
                    <!--<div ng-repeat="student in class.students">-->
                        <!--<a ng-href="/users/{{student._id}}">-->
                            <!--{{student.name}}-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</uib-accordion-group>-->

                <!--<uib-accordion-group heading="Presentations">-->
                    <!--<div ng-repeat="pres in user.presentations">-->
                        <!--<a ng-href="/presentations/{{pres._id}}">-->
                            <!--{{pres.name}}-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</uib-accordion-group>-->

            <!--</uib-accordion>-->
        <!--</uib-accordion-group>-->
    <!--</uib-accordion>-->
<!--</div>-->
