<div ng-controller="ClassAccordionCtrl">

    <uib-accordion id="a1">
        <uib-accordion-group ng-repeat="class in user.classes" heading="{{class.name}}">
            <uib-accordion>

                <div ng-show="user.isTeacher">
                    <uib-accordion-group heading="Students">
                            <div ng-repeat="student in students">{{student}}</div>
                    </uib-accordion-group>
                </div>

                <uib-accordion-group heading="Presentations">
                    <div ng-repeat="pres in presentations">{{pres}}</div>
                </uib-accordion-group>

            </uib-accordion>
        </uib-accordion-group>
    </uib-accordion>

</div>
