<div class="flex-container full-height">
    <div id="editor-container" ng-hide="display.fullscreen">
        <div class="flex-container">
            <input
                type="text"
                ng-model="presentation.name"
                class="form-control">
            <button
                class="btn pull-right"
                ng-click="save(presentation)">
                Save
            </button>
        </div>
        <textarea
            ng-model="presentation.markdown"
            enable-tabs
            dont-move-slides>
        </textarea>
    </div>
    <div id="live-preview" ng-class="{ fullscreen: display.fullscreen }">
        <div class="slideshow-container" ratio="1.77">
            <ss-slideshow display="display">
                <ss-slide
                    ng-repeat="slide in slides track by $index"
                    markdown="{{slide}}">
                    <!-- <parsed markdown="{{slide}}"></parsed> -->
                </ss-slide>
            </ss-slideshow>
        </div>
    </div>
</div>
