// color variables
$button-color: #57bb89;  //green
$button-font-color: #fff;
$orange: #f79b60;
$background: #efede7;

// font variables
$sans-font: 'Raleway', sans-serif;
$serif-font: 'Josefin Slab', serif;

* {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: $sans-font;
}

p {
    font-family: $serif-font;
}

body {
  background: $background;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

html, body {
    height: 100%;
}

#main {
  padding-top: 70px;
  margin: -50px auto;
  height: 100%;
}

.full-height {
    height: 100%;
}

.green {
    color: $button-color;
}

button {
  background: $button-color;
  color: $button-font-color;
  border: 0;
}



@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
@import 'presentations/main';
@import 'admin/admin';
@import 'teacherView/main';
@import 'profile/main';
@import 'themes/main';
