<div class="flex-container full-height">
    <div id="editor-container">
        <div class="flex-container">
            <input
                type="text"
                ng-model="presentation.name"
                class="form-control">
            <button
                class="btn pull-right"
                ng-click="save(presentation)">
                Save
            </button>
        </div>
            <textarea
                ng-model="presentation.markdown">
            </textarea>
    </div>
    <div id="live-preview">


        <div class="reveal" vertical-center>
          <div class="slides">

            <section></section>

            <section ng-repeat="slide in slides">
                <!-- <h1>Test</h1> -->
                <parsed presentation="{ markdown: slide }"></parsed>
            </section>

          </div>
      </div>

    </div>
</div>
