<!-- <div class="container-fluid"> -->
    <div class="flex-container full-height">
        <div id="editor-container">
            <div class="flex-container">
                <input
                    type="text"
                    ng-model="presentation.name"
                    class="form-control">
                <button
                    class="btn pull-right"
                    ng-click="save(presentation)">
                    Save
                </button>
            </div>
                <textarea
                    ng-model="presentation.markdown">
                </textarea>
        </div>
        <div id="live-preview">
            <parsed presentation="presentation"></parsed>
        </div>
    </div>
<!-- </div> -->
