.profile-picture {
	width: 150px;
}

.profile-name {
	text-align: left;
}

.panel-picture {
	width: 50px;
	float: left;
}

.btn-circle {
  width: 20px;
  height: 20px;
  margin: 5px;
  text-align: center;
  padding: 6px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.glyphicon-remove-ss {
	top: -2.6px;
	right: 3.2px;
}

.classList {
  border: 1px solid black;
  //padding: 0px 5px 0px 5px;
  padding: 5px;
  border-radius: 2px;
  margin-bottom: 3px;
  list-style: none;
  cursor: pointer;
  &:hover {
    background-color: lighten($button-color, 40);
  }
}

.profileClass {
  //padding: 0 3px 0 3px;
  padding: 3px 6px 3px 6px;

}
