.profile-picture {
	width: 150px;
}

.profile-name {
	text-align: left;
}

.profile-heading {
	margin: 20px 0 50px;
}

.panel-picture {
	width: 50px;
	float: left;
}

.btn-circle {
  width: 20px;
  height: 20px;
  margin: 5px;
  text-align: center;
  padding: 6px;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.glyphicon-remove-ss {
	top: -2.6px;
	right: 3.2px;
}

.classList {
  border: 1px solid black;
  //padding: 0px 5px 0px 5px;
  padding: 5px 10px;
  border-radius: 2px;
  margin-bottom: 3px;
  list-style: none;
  cursor: pointer;
  &:hover {
    background-color: lighten($button-color, 40);
  }
}

.profileClass {
  //padding: 0 3px 0 3px;
  padding: 3px 6px 3px 6px;

}

.nav-tabs li {
	font-weight: 300;
	a {
		color: #999999;
	}
	&.active {
		color: #555555;
		font-weight: 400;
	}
}

#new-presentation-button, #new-class-button, #add-student-button {
	font-family: $sans-font;
	padding: 20px;
	cursor: pointer;
	padding: 10px 20px;
	font-size: 24px;
	display: flex;
	.text {
		text-decoration: underline;
		margin-right: 6px;
	}
	.glyphicon {
		color: $button-color;
		font-size: 30px;
		text-decoration: none;
	}
}

.new-class, .new-pres, .add-student {
	padding: 10px 40px;
}

.pres-list, .student-list, .found-users-list {
	padding: 0;
	background-color: $background;
	.pres-item, .student-item, .found-user-item {
		padding: 0 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		&:nth-child(even) {
			background-color: $white;
		}
	}

	.pres-list-info, .student-item-info, .found-user-info {
		flex: 1;
	}

	.pres-list-buttons {
		margin-left: 20px;
		button {
			font-size: 14px;
			padding: 4px 8px;
		}
	}
	.remove-student {
		color: $orange;
		font-size: 24px;
		cursor: pointer;
	}
	.no-presentations {
		padding: 20px;
	}
}
