.flex-container {
    display: flex;
    align-content: space-between;
}

#editor-container, #live-preview {
    flex: 1 100%;
    margin: 5px;
}

#editor-container {
    display: flex;
    flex: 1 40%;
    flex-direction: column;
    textarea {
        width: 100%;
        flex: 1;
        -moz-tab-size : 2;
        -o-tab-size : 2;
        tab-size : 2;
    }
}

ss-slideshow {
    display: block;
    @include clearfix;
}

#live-preview, #presentation-view, #teacher-presentation {
    position: relative;
    overflow: hidden;


    .slideshow-container {
        border: solid 1px gray;
        overflow: hidden;
    }

    .slide-controls {
        position: absolute;
        bottom: 10px;
        right: 10px;
        // top: 50%;
        // width: 100%;
        // left: .1px;
    }

    .slide-container {
        height: 100%;
        width: 100%;

    }

    &.fullscreen {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        .slideshow-container {
            height: 100%!important;
        }
        .slide-container {
            position: absolute;
        }

        // Animations
        .fade-on-change {
            transition: opacity ease 0.5s;

            &.ng-enter, &.ng-leave.ng-leave-active {
                opacity: 0;
            }

            &.ng-leave, &.ng-enter.ng-enter-active {
                opacity: 1;
            }
        }
    }
}

#live-preview {
    .slideshow-container {
        position: relative;
    }
}

#studentList {
  .panel-heading {
    background: $button-color;
    border-color: $button-color;
  }
  .panel-primary {
    border-color: $button-color;
  }
}

.studentListItem {
  //background-color: red;
  //font-weight: bold;
  .glyphicon-exclamation-sign {
    float: left;
    color: $orange;
  }
  .buttonOrange { // Might be nice if the button didnt fly all over the screen?
    background: $orange;
  }
}

//.confusion {
//  padding: 0px;
//}

.questionModal {

  .fa-question {
    //font-size: 2.5em;
    color: $button-color;
    cursor: pointer;
    //cursor: hand;
  }
  position: absolute;
  bottom: 10px;
  right: 200px;

}

.modal-header, .modal-body {
    h3 {
        font-family: $serif-font;
        color: #111;
    }
}

.cancel {
  background: $orange;
}

.previous {
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    color: $button-color;
    font-size:4em;
}

.next {
    -webkit-appearance: none;
    outline: none;
    border: 0;
    background: transparent;
    color: $button-color;
}

#student-controls {
    margin-right: 30px;
}

.toggle-button { background-color: green; margin: 0px 80px; border-radius: 20px; border: 2px solid #D0D0D0 ; height: 30px; cursor: pointer; width: 50px; position: relative; display: inline-block; user-select: none; -webkit-user-select: none; -ms-user-select: none; -moz-user-select: none; }
.toggle-button button { cursor: pointer; outline: 0; display:block; position: absolute; left: 0; top: 0; border-radius: 100%; width: 30px; height: 30px; background-color: white; float: left; margin: -3px 0 0 -3px; border: 2px solid #D0D0D0 ; transition: left 0.3s; }
.toggle-button-selected { background-color: red; border: 2px solid #7DA652 ; }
.toggle-button-selected button { left: 26px; top: 0; margin: 0; border: none; width: 24px; height: 24px; box-shadow: 0 0 4px rgba(0,0,0,0.1); }
