.flex-container {
    display: flex;
    align-content: space-between;
}

#editor-container, #live-preview {
    flex: 1 100%;
    margin: 5px;
}

#editor-container {
    display: flex;
    flex: 1 40%;
    flex-direction: column;
    textarea {
        width: 100%;
        flex: 1;
        -moz-tab-size : 2;
        -o-tab-size : 2;
        tab-size : 2;
    }
}

#live-preview, #presentation-view {
    position: relative;
    background-color: #fdfdfd;
    overflow: hidden;

    &.fullscreen {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        margin: 0;
        .slideshow-container {
            height: 100%!important;
        }
        .slide-container {
            position: absolute;
        }

        // Animations
        .fade-on-change {
            transition: opacity ease 0.5s;

            &.ng-enter, &.ng-leave.ng-leave-active {
                opacity: 0;
            }

            &.ng-leave, &.ng-enter.ng-enter-active {
                opacity: 1;
            }
        }
    }

    .slideshow-container {
        border: solid 1px gray;
        overflow: hidden;
    }

    .slide-controls {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }

    .slide-container {
        height: 100%;
        width: 100%;

        h1 {
            font-size: 5em;
            flex-basis: auto;
        }

        /* the parsed element will always be the main container holding all of the slide content */
        parsed {
            height: 100%;
            display: flex;
            padding: 2% 5%;
            flex-direction: column;
            background-color: white;
        }
    }
}
//
// #presentation-view {
//     &.fullscreen {
//         position: absolute;
//         left: 0;
//         top: 0;
//         width: 100vw;
//         height: 100vh;
//         margin: 0;
//         .slideshow-container {
//             height: 100%!important;
//         }
//         .slide-container {
//             position: absolute;
//         }
//
//         // Animations
//         .fade-on-change {
//             transition: opacity ease 0.5s;
//
//             &.ng-enter, &.ng-leave.ng-leave-active {
//                 opacity: 0;
//             }
//
//             &.ng-leave, &.ng-enter.ng-enter-active {
//                 opacity: 1;
//             }
//         }
//     }
// }
