body {
    background-color: #111111;
    color: white;
    font-family: 'Courier New'
}

#console {
    font-size: 32px;
}

#console div {
    width: 100%;
}

#console input {
    width: 90%;
    background-color: #111111;
    color: white;
    font-size: inherit;
    border: none;
    font-family: 'Courier New';
}

#console input:focus {
    border: none;
    outline: none;
}

.error {
    color: red;
}

.return {
    color: #00FF26;
    font-weight: 'bold';
}
